<div class="container3">
  <div class="row">
    <div class="col-lg-12">
      <a class="back-home-btn" href="/">← Back To Home</a>
      <div class="text-center">
        <h2 class="reg-title">Gift Registry</h2>
        <p>View registry items below.</p>
      </div>
      <div class="card user-reg-card mt-4 ">
        <div class="card-body">
          <h3 class="card-title text-center">Registry Items</h3>
            <div class="table-responsive">
              <table class="table-striped">
                <thead>
                  <tr class="table-header">
                    <th>Product ID</th>
                    <th>Product Name</th>
                    <th>Store Name</th>
                    <th>Price</th>
                    <th>Purchase Item</th>
                  </tr>
                </thead>
                <tbody>
                {{#each Products}}
                {{#unless isPurchased}}
                <tr>
                  <td>{{this.id}}</td>
                  <td>{{this.productName}}</td>
                  <td>{{this.store}}</td>
                  <td>$ {{this.price}}</td>
                  <td><button data-id="{{this.id}}" class="update-btn btn-success"><i class="fa fa-gift"></i></button></td>
                </tr>
                {{/unless}}
                {{/each}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

    <!--Javascript -->

    <script type="text/javascript">

      // Material Select Initialization for Form
      $(document).ready(function () {

        // Capture the form inputs
        $("#submit-product").on("click", function (event) {
          event.preventDefault();
          console.log("i clicked dammit");

          // Form validation
          function validateForm() {
            var isValid = true;
            $("#product-form .form-control").each(function () {
              if ($(this).val() === "") {
                isValid = false;
              }
            });

            return isValid;
          }

          // If all required fields are filled
          if (validateForm() == true) {
            // Create an object for the user"s data
            var newProduct = {
              productName: $("#product-name").val(),
              store: $("#store").val(),
              price: $("#price").val(),
              isPurchased: false

            };
            console.log(newProduct);

            // Send the POST request.
            $.ajax("/api/products", {
              type: "POST",
              data: newProduct
            }).then(
              function () {
                console.log("created new product");
                // Reload the page to get the updated list
                //location.reload();
                location.reload();
              }
            )

          }
          else {
            alert("Please fill out ALL fields before submitting!");
          }
        });

        //Delete request
        $(".delete-btn").on("click", function (event) {
          event.preventDefault();
          console.log("I clicked delete button");
          var id = $(this).data("id");

          $.ajax("/api/products/" + id, {
            type: "DELETE"
          }).then(
            function () {
              console.log("deleted id ", + id);
              location.reload();
            }

          );

        });
      });

    </script>